@charset "utf-8";

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem;
  letter-spacing: 0.09em;
 
}

a{
  &:hover{
    opacity: 0.7;
  }
}

img{
  max-width: 100%;
}
.header__img{
  width: 800px;
}

.wrapper{
  width: 1080px;
  margin: 0 auto;
  max-width: 100%;
}
.about,
.work, 
.contact{
  margin-bottom: 56px;
}

.header{
  text-align: center;
  margin-bottom: 36px;
  background-color: antiquewhite;
  height:100vh;
}

.header__caption{
  font-size: 2.4rem;
  padding-top: 16px;
  padding-bottom: 16px;
}


.nav{
  margin-bottom: 40px;
  
}

.nav__list{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.nav__item:not(:last-child){
  margin-right: 24px;
  border-right: 1px solid #000;
  padding-right: 16px;
}


.hamburger__fixed{
position: fixed;
top: 0;
right: 0;
display: none;
}


.nav__backgroundColor{
  background-color: aqua;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
display: none;
/* transform: translateX(-300px);
visibility: hidden;
opacity: 0; */
}
.active .nav__backgroundColor{
display: block;
}

.hamburger-menu{
  background-color: aqua;
  width: 56px;
  height: 56px;
  position: relative;
}

.hamburger{
  width: 48px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 13px;
  left: 2px;
}

.hamburger:nth-child(2){
  top: 23px;
}
.hamburger:nth-child(3){
  top:33px;
}
.active .hamburger{
  transform: translateY(10px) rotate(45deg);
  transition: .5s;
}

.active .hamburger:nth-child(2){
  display: none;
}
.active .hamburger:nth-child(3){
 transform: translateY(-10px) rotate(-45deg);
 transition: .5s;
}

@media (max-width:700px){
  
  .nav__list{
    flex-direction: column;
    align-items: flex-start;
    z-index: 300;
    position: fixed;
    top: 0;
    display: none;
   }
   .active .nav__list{
    display: block;
   }

   .nav__item:not(:last-child){
    border-right: none;
  }

  .hamburger__fixed{
display: block;
align-items: flex-start;

  }
}




.c-sectionTitle{
  font-size: 4.8rem;
}

.c-titleWrapper{
  text-align: center;
}